.calendar-header {
  display: block;
  width: 100%;
  height: 10vh;
  background-color: #082c6e;
  color: #ffffff;
}

.calendar-table {
  display: block;
  width: 100%;
  height: 90vh;
  overflow-x: auto;
}

.calendar-table table {
  border-collapse: collapse;
  border: 0.1rem solid #d6d6d6;
  width: 100%;
  min-width: 768px;
}

.calendar-table th,
.calendar-table td {
  padding: 0.35rem;
  vertical-align: text-top;
  text-align: left;
  background-color: #fff;
  color: #777;
  border: 0.1rem solid #d6d6d6;
  height: 3rem;
  width: 14%;
  min-width: 14%;
}
.calendar-table th:first-child,
.calendar-table th:last-child,
.calendar-table td:last-child {
  width: 8%;
  min-width: 8%;
}

.calendar-table th {
  vertical-align: bottom;
  font-weight: normal;
}

/* .calendar-table tr:nth-child(even) th[scope='row'] {
  background-color: #f2f2f2;
}

.calendar-table tr:nth-child(odd) th[scope='row'] {
  background-color: #fff;
}

.calendar-table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.calendar-table tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.05);
} */

.calendar-table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.calendar-table th[scope='row'] {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
  vertical-align: top;
  text-align: right;
  color: #777;
}

.calendar-table table th:not([scope='row']) {
  height: 4rem;
}

.calendar-table table th:not([scope='row']):first-child {
  left: 0;
  z-index: 3;
}

.calendar-table .today,
.calendar-table .now {
  background-color: #ddfabb;
}

.calendar-table .inactive {
  background-color: #eeeeee;
}

.calendar-table .day {
  font-size: 0.8rem;
}

.calendar-table .date {
  font-size: 2rem;
  color: #000000;
}
